body {
  background-color: cadetblue;
}
.container {
  width: 50%;
  margin: 0 auto;
  background-color: aquamarine;
  margin-top: 20%;
  border: 2px solid darkblue;
  border-radius: 8px;
}
h1 {
  width: 30%;
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  
}
form {
  
  text-align: center;
}
form label, form input {
  font-size: 20px;
  padding: 10px;
}
form input {
  border-radius: 8px;
  
}
h2 {
  text-align: center;
}
